<app-page-header title="Data Upload Page" queryNav="true"></app-page-header>
<div class="belowdiv">
  <app-file-upload fileType="projects">
    <article>
      <h1>Step 1: Upload Your Projects Data</h1>
      <p>This is necessary to report data whenever a Program has been run.</p>
    </article>
    <a href="assets/files/projectTemplate.xlsx" download>
      <button mat-button class ="riceColors">Download Projects Template</button>
    </a>
  </app-file-upload>
  <app-file-upload fileType="participation">
    <article>
      <h1>Step 2: Upload Your Participation Data</h1>
      <p>This will link Student to Projects, and Projects to Partners.</p>
    </article>
    <a href="assets/files/participationTemplate.xlsx" download>
      <button mat-button class ="riceColors">Download Participation Template</button>
    </a>
  </app-file-upload>
  <app-file-upload fileType="partners">
    <article>
      <h2>Optional: Upload data on Partners</h2>
      <p>If a Partner your Program interacted with is not already in the database, you can add them here or with a form below.</p>
    </article>
    <a href="assets/files/partnerTemplate.xlsx" download>
      <button mat-button class ="riceColors">Download Partners Template</button>
    </a>
  </app-file-upload>
  <app-file-upload fileType="students">
    <article>
      <h2>Optional: Upload data on Students</h2>
      <p>This should be any new "Apply Now!" data that has come in. Make sure that students are not dupliacted</p>
    </article>
    <a href="assets/files/studentTemplate.xlsx" download>
      <button mat-button class ="riceColors">Download Students Template</button>
    </a>
  </app-file-upload>
</div>
<div class="belowdiv">
  <h1>Creating a Single Partner, Program, Project, or Student</h1>
  <!--TODO: refactor these to be in a separate component file?(probably)-->
  <app-partner-form></app-partner-form>
  <app-program-form></app-program-form>
  <app-project-form></app-project-form>
  <app-student-form></app-student-form>
</div>
