<app-page-header title="Partner Profile"></app-page-header>
<app-profile [entityId]="id" [service]="partnerService">
  <div class="belowdiv list">
    Programs worked with: <br>
    <mat-card *ngFor="let program of programs">
      <mat-card-title>
        Program Name: {{program.programName}}
      </mat-card-title>
      <mat-card *ngFor="let project of program.projects">
        <mat-card-title>
          Project Name: {{project.projectName}}
        </mat-card-title>
        <mat-card *ngFor="let student of project.students">
          Student Name: {{student.Name}} <br>
          Student Email: {{student.Email}}
        </mat-card>
      </mat-card>
    </mat-card>
  </div>
  <div *ngFor="let contact of contacts" class="belowdiv">
    Partner Name: {{contact.name}} <br>
    Partner Phone Number: {{contact.phone}} <br>
    Partner E-mail: {{contact.email}} <br>
    Partner Title: {{contact.title}}

  </div>
</app-profile>
