<app-page-header title="Program Profile" queryNav="true"></app-page-header>
<app-profile entity="{{id}}" [service]="programService">
  <div class="belowdiv">
    <p>Numbers of students who participated in this program</p>
    <p>
      <mat-spinner *ngIf="loadingNumStudents" color="primary"></mat-spinner>
      {{numStudents}}
    </p>

  </div>

  <div class="belowdiv">
    <p>
      Number of partners who have interacted with this program
    </p>
    <p>
      <mat-spinner *ngIf="loadingNumPartners" color="primary"></mat-spinner>
      {{numPartners}}
    </p>
  </div>

  <div class="belowdiv">
    <p>
      Percentage of students who did a program, that participated in this program
    </p>
    <p>
      <mat-spinner *ngIf="loadingPercentStudents" color="primary"></mat-spinner>
      <span *ngIf="!loadingPercentStudents">{{percentStudents}} %</span>
    </p>
  </div>

  <div class="belowdiv">
    <p>
      Percentage of students who did this program, that did another program
    </p>
    <p>
      <mat-spinner *ngIf="loadingPercentStudentsDidAnother" color="primary"></mat-spinner>
      <span *ngIf="!loadingPercentStudentsDidAnother">{{percentStudentsDidAnother}} %</span>
    </p>
  </div>

  <div class="belowdiv">
    <p>
      Percentage of students who applied that got accepted to this program
    </p>
    <p>
      <mat-spinner *ngIf="loadingPercentAcceptance" color="primary"></mat-spinner>
      <span *ngIf="!loadingPercentAcceptance">{{percentAcceptance}} %</span>
    </p>
  </div>
</app-profile>
