<div class="sidebyside">
  <div *ngFor="let property of displayProperties">
    <span>{{property}}: {{entity.getValue(property)}} </span>
  </div>
</div>
<div class="sidebyside">
  <div *ngFor="let property of displayProperties">
    <span>Update {{property}}: <input title="{{property}}" class="newValues"></span>
  </div>
</div>

<div class="belowdiv">
  <button (click)="updateEntity()">Update</button>
</div>
<!-- Any selectors for this? -->
<ng-content></ng-content>
<!-- <div>
  This is where the Information for the profile will go!
</div> -->
<div class="belowdiv">
  Make a note: <br>
  <textarea id="notes" name="note" rows="8" cols="80"></textarea> <br>
  <button (click)="makeNote()">Submit</button>
</div>

<div class="belowdiv">
  Notes: <br>
  <mat-card *ngFor="let note of entity?._notes">
    <p>Note content: {{note._note}}</p>
    <p>Note author: {{note._userId}}</p>
    <p>Note date: {{note._creationDate}}</p>
  </mat-card>
</div>
