<div class="sidebyside">
  <div *ngFor="let property of displayProperties">
    <span>{{property}}: {{entity.getValue(property)}} </span>
  </div>
</div>
<div class="sidebyside">
  <div *ngFor="let property of displayProperties">
    <span>Update {{property}}: <input title="{{property}}" class="newValues"></span>
  </div>
</div>
<button mat-button *ngIf="isDialog" (click)="closeDialog()" color="warn" class="logout sidebyside">
  Close
</button>
<div class="belowdiv">
  <button mat-button (click)="updateEntity()" class="riceColors">Update</button>
</div>
<div class="belowdiv">
  <h1>This is where errors will be displayed:</h1>
  <span id="errors"></span>
</div>
<!-- Any selectors for this? -->
<ng-content></ng-content>
<!-- <div>
  This is where the Information for the profile will go!
</div> -->
<div class="belowdiv">
  Make a note: <br>
  <textarea id="notes" name="note" rows="8" cols="80"></textarea> <br>
  <button (click)="makeNote()">Submit</button>
</div>

<div class="belowdiv">
  Notes: <br>
  <mat-card *ngFor="let note of entity?._notes">
    <p>Note content: {{note._note}}</p>
    <p>Note author: {{note._userId}}</p>
    <p>Note date: {{note._creationDate}}</p>

    <button (click)="deleteNote(note._note_id)">Delete</button>

  </mat-card>
</div>
