<!-- STYLE THIS ACCORDINGLY -->
<mat-toolbar>
  <mat-toolbar-row>
    <span class="title-center">
      CCL Database
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="title-center">{{title}}</span>
  </mat-toolbar-row>
  <!-- TODO: CHANGE BELOW -->
  <!-- To add query nav to the page header need to have queryNav = true, and the app-query-navigation  -->
  <mat-toolbar-row *ngIf="queryNav">
    <ng-content select="app-query-navigation"></ng-content>
    <span class="fill-remaining-space"></span>
    <button (click)="logout()" mat-button color="warn" class="logout">
      Logout
    </button>
  </mat-toolbar-row>

</mat-toolbar>
