<!-- STYLE THIS ACCORDINGLY -->
<mat-toolbar>
  <mat-toolbar-row>
    <span class="title-center">
      CCL Database
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="title-center">{{title}}</span>
  </mat-toolbar-row>
  <!-- TODO: CHANGE BELOW -->
  <!-- To add query nav to the page header need to have queryNav = true, and the app-query-navigation  -->
  <mat-toolbar-row *ngIf="queryNav">
    <app-query-navigation class="title-center"></app-query-navigation>
    <!-- This is put here so that it is able to fill the toolbar row -->
    <!-- <span class="fill-remaining-space"></span> -->
  </mat-toolbar-row>

</mat-toolbar>
