<!-- (This could be home image?) -->
<button mat-button (click)="redirectMain()">Main</button>
<!-- <button mat-button (click)="redirectAffiliates()">Affiliates</button> -->
<span><u>Query Pages:</u></span>
<button mat-button (click)="redirectPartners()">Partners</button>
<button mat-button (click)="redirectProjects()">Projects</button>
<button mat-button (click)="redirectStudents()">Students</button>
<!-- <span class="fill-remaining-space"></span> -->
<!-- <button (click)="logout()" mat-button color="warn" class="logout">Logout</button> -->
