<a href="#/main">
  <button mat-icon-button>
    <mat-icon><img src="assets/home3.svg" alt=""></mat-icon>
  </button>
</a>
<!-- <a href="#/affiliates">
  <button mat-stroked-button>
    Affiliates
  </button>
</a> -->
<a href="#/partners">
  <button mat-stroked-button>
    Partners
  </button>
</a>
<a href="#/projects">
  <button mat-stroked-button>
    Projects
  </button>
</a>
<a href="#/students">
  <button mat-stroked-button>
    Students
  </button>
</a>
<button mat-stroked-button (click)="logout()" color="warn" class="logout">
  Logout
</button>
