<a href="main" class="belowdiv">main</a>
<div class="belowdiv">
  This should not be in use!
</div>

<!--
Refactor this to just be the program results!!
Program query making: <br>
<mat-form-field>
  <mat-select placeholder="Programs" [(ngModel)]="programSelected" multiple>
    <mat-option *ngFor="let program of programs" [value]="program.name">
      {{ program.name }}
    </mat-option>
  </mat-select>
</mat-form-field> <br>
Semester: <br>
<mat-form-field>
  <mat-select placeholder="Semester" [(ngModel)]="semesterSelected" multiple>
    <mat-option *ngFor="let semester of semesters" [value]="semester.name">
      {{ semester.name }}
    </mat-option>
  </mat-select>
</mat-form-field> <br>
Years Start: <input type="number" id="yearStart" value="2018"> Years End: <input type="number" id="yearEnd" value = "2018"> <br>
<button (click)="submitQuery()">Submit Query</button> -->
