<app-page-header title="Projects Page" queryNav="true"></app-page-header>
<div class="twoSideBySide">
  Programs: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Programs" [(ngModel)]="programSelected" multiple>
      <mat-option *ngFor="let program of programs" [value]="program.name">
        {{ program.Name }}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>
  Partners: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Partners" [(ngModel)]="partnerSelected" multiple>
      <mat-option *ngFor="let partner of partners" [value]="partner.name">
        {{ partner.Name }}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>
  Semesters: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Semester" [(ngModel)]="semesterSelected" multiple>
      <mat-option *ngFor="let semester of semesters" [value]="semester.name">
        {{ semester.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>
  <mat-form-field class="yearSelector">
    <input matInput type="number" placeholder="Start Year" id="yearStart" value="{{startYear}}">
  </mat-form-field>
  <mat-form-field class="yearSelector">
    <input matInput type="number" placeholder="End Year" id="yearEnd" value = "{{endYear}}">
  </mat-form-field> <br>
  <button mat-raised-button class="riceColors" (click)="submitQuery()">Submit Query</button>
</div>
<div class="twoSideBySide">
  <p>
    Want to view all projects?
  </p>
  <a href="{{emptyQuery}}">
    <button mat-raised-button class="riceColors">
      View All Projects
    </button>
  </a>
</div>
