<app-page-header title="Main Page" queryNav="true">
  <button (click)="logout()" mat-button logoutButton color="warn" class="logout">
    Logout
  </button>
  <app-query-navigation></app-query-navigation>
</app-page-header>
<mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <mat-card>
      <mat-card-title>
        <u>Programs</u>
      </mat-card-title>
    </mat-card>
    <mat-card *ngFor="let program of programs">
      <button mat-button (click)="viewProgram(program.name)">{{program.name}}</button>
    </mat-card>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <mat-list class="belowdiv">
      <p>
        Choose an entity you want information about:
      </p>
      <mat-form-field>
        <mat-select placeholder="Entity" [(ngModel)]="entitySelected">
          <mat-option *ngFor="let entity of entities" [value]="entity.name">
            {{ entity.name }}
          </mat-option>
        </mat-select>
      </mat-form-field> <br>
      <button (click)="createQuery()" mat-button>Create Query!</button> <br>
    </mat-list> -->
    <!-- <a href="#/dataUpload">Click here to upload your data</a> -->
    <mat-list class="belowdiv data">
      <p>Explain upload process here!</p>
      <p>Upload your data!</p>
      <input type="file" name="" value="" id="file"> <br> <br>
      <button (click)="uploadData()" mat-button>Submit!</button> <br>
      <div *ngIf="fileUploaded">
        <div>Result of upload will go below</div> <br>
        <mat-spinner *ngIf="fileBeingUploaded" color="primary"></mat-spinner>
        <textarea [hidden]="fileBeingUploaded" rows="30" cols="75" id="resultString"></textarea>
      </div>

    </mat-list>
  </mat-drawer-content>
</mat-drawer-container>
