mat-card {
  background-color: #0D47A1;
  color: #E0E0E0;
  width: 20vmin;
}

textarea {
   resize: none
}

button {
  background-color: #0D47A1;
  color: #E0E0E0;
  display: flex;
}

mat-drawer-container {
  height: 83vmin;
}

mat-drawer-content{
  width: 73vmin;
}

mat-drawer {
  background-color: #0D47A1;
  color: #E0E0E0;
  width: 25vmin;
}

/* .data {
  width: 73vmin;
} */
