<app-page-header title="Main Page" queryNav="true"></app-page-header>
<mat-drawer-container>
  <mat-drawer class="riceColors" mode="side" opened="true" position="start">
    <mat-list>
      <mat-list-item >
        <span class="riceColors title"><u>Programs</u></span>
      </mat-list-item>
      <mat-list-item *ngFor="let program of programs">
        <!-- Is there a way to make this a link? -->
        <button mat-stroked-button class="riceColors drawerElement" (click)="viewProgram(program.Name)">
          {{program.Name}}
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <article class="belowdiv">
      <h1>Upload your data!</h1>
      <p>What should I put here?</p>
      <a href="#/dataUpload">
        <button mat-button class="riceColors">Upload Data!</button>
      </a>
      </article>
  </mat-drawer-content>
</mat-drawer-container>
