.title {
  display: block;
  margin: 0 auto;
  font-size: 2vw;
}

.drawerElement {
  display: block;
  width: 100%;
  font-size: 1.1vw;
  /* height: 100%; */
}

mat-drawer-content {
  margin-left: 15% !important; /* Margin for drawer*/
  width: 85%;
}

mat-drawer {
  width: 15%;
  overflow: auto;
}

mat-drawer-container {
  height: 80%;
}
