mat-list-item {
  background-color: #0D47A1;
  color: #E0E0E0;
  /* padding: 10px; */
}

.title {
  font-size: 2em;
}

textarea {
   resize: none
}

button {
  background-color: #E0E0E0;
  color: #0D47A1;
  display: flex;
  height : 100%;
}
/* This shoudl be necessary */
/* mat-drawer-container {
  height: 83vmin;
  width: 100vmin;
}

mat-drawer-content{
  width: 100vmax;
}

article {
  width: 45vmin;
} */

mat-drawer {
  background-color: #0D47A1;
  color: #E0E0E0;
  width: 25vmin;
}
