<app-page-header title="Main Page" queryNav="true">
  <app-query-navigation></app-query-navigation>
</app-page-header>
<mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <mat-list>
      <mat-list-item>
        <span class="title riceColors"><u>Programs:</u></span>
      </mat-list-item>
      <mat-list-item *ngFor="let program of programs">
        <button mat-button (click)="viewProgram(program.name)">{{program.name}}</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <article class="sidebyside">
      <h1>Getting Started</h1>
      <p>
        Here is the info about the database you will need to know
      </p>
      <h2>Data Upload</h2>
      <p>Data Upload Info</p>
      <a href="#/dataUpload">Redirect to data</a>
      <h3>File Structure</h3>
      <p>Files here!</p>

    </article>
    <article class="sidebyside">
      <h1>Getting Started</h1>
      <h2>Queries</h2>
      <p>Query Info</p>
      <h3>Entities</h3>
      <p>Entity Info</p>
      <h4>Programs</h4>
      <p>Program Stuff</p>
      <h4>Projects</h4>
      <p>Project Stuff</p>
      <h4>Partners</h4>
      <p>Partner Stuff</p>
      <h4>Students</h4>
      <p>Student Stuff</p>
    </article>
  </mat-drawer-content>
</mat-drawer-container>
