.affiliate {
  width: 70%;
}

.sidebyside {
    float:left;
    border-style:solid;
    margin:5px;
}

.belowdiv {
    border-style:solid;
    margin:5px;
    clear:both;
}

#affiliateContent{
  width: 70%;
}
