<app-page-header title="Partners Page" queryNav="true"></app-page-header>
<div class="twoSideBySide">
  <h1>Create a Partner Query</h1>
  Programs: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Program" [(ngModel)]="programSelected" multiple>
      <mat-option *ngFor="let program of programs" [value]="program.Name">
        {{ program.Name }}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>
  Act, Learn or Create Change: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Act, Learn or Create Change" [(ngModel)]="typeSelected" multiple>
      <mat-option *ngFor="let type of types" [value]="type.name">
        {{ type.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>
  Semester: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Semester" [(ngModel)]="semesterSelected" multiple>
      <mat-option *ngFor="let semester of semesters" [value]="semester.name">
        {{ semester.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>
  Social Issues Concerned With: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Social Issues Concerned With" [(ngModel)]="issueSelected" multiple>
      <mat-option *ngFor="let issue of issues" [value]="issue.name">
        {{issue.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>
  <mat-form-field class="yearSelector">
    <input matInput type="number" placeholder="Start Year" id="yearStart" value="{{startYear}}">
  </mat-form-field>
  <mat-form-field class="yearSelector">
    <input matInput type="number" placeholder="End Year" id="yearEnd" value = "{{endYear}}">
  </mat-form-field> <br>
    <button mat-raised-button class="riceColors" (click)="submitQuery()">Submit Query</button>
</div>
<div class="twoSideBySide">
  <article>
    <h2>Want to view all partners?</h2>
  </article>
  <a href="{{emptyQuery}}">
    <button mat-raised-button class="riceColors">
      View All Partners
    </button>
  </a>
</div>
