.belowdiv {
  clear:both;
  border-style:solid;
  border-color: #0D47A1;
  margin:5px;
}

.sidebyside {
  float:left;
  border-style: solid;
  border-color: #0D47A1;
  margin:5px;
}

.twoSideBySide {
  float: left;
  border-style: solid;
  border-color: #0D47A1;
  margin:5px;
  width: 48%
}

.twoSideBySideCards {
  float: left;
  border-style: solid;
  border-color: #0D47A1;
  margin:0.5%;
  width: 43%
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.riceColors {
  background-color: #0D47A1;
  color: #E0E0E0;
}

.logout {
  background-color: #0D47A1;
}

.querySelector {
  /* TODO(AUGI): maybe have this be display block width 100% */
  width: 30%;
}

.yearSelector {
  width: 15%;
}

h1 {
  font-size: 3em;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

h2 {
  font-size: 2.25em;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

p {
  text-align: left;
  font-size: 1em;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.center {
  text-align: center;
}

.full {
  width: 100%;
}

.hasText {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

[hidden] { display: none !important; }
