.belowdiv {
  clear:both;
  border-style:solid;
  border-color: #0D47A1;
  margin:5px;

}

.sidebyside {
  float:left;
  border-style: solid;
  border-color: #0D47A1;
  margin:5px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.riceColors {
  background-color: #0D47A1;
  color: #E0E0E0;
}
/* 
.flexbox {
  display: flex;
  flex-direction: row;
} */
