.belowdiv {
  clear:both;
  border-style:solid;
  border-color: #0D47A1;
  margin:5px;

}

.sidebyside {
  float:left;
  border-style: solid;
  border-color: #0D47A1;
  margin:5px;
}

.twoSideBySide {
  float: left;
  border-style: solid;
  border-color: #0D47A1;
  margin:5px;
  width: 48%
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.riceColors {
  background-color: #0D47A1;
  color: #E0E0E0;
}

.logout {
  background-color: #0D47A1;
}

.querySelector {
  /* TODO: maybe have this be display block width 100% */
  width: 30%;
}

.yearSelector {
  width: 15%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
/*
.flexbox {
  display: flex;
  flex-direction: row;
} */
