<app-profile [entityId]="id" [service]="projectService" [dialogRef]="dialogRef" title="Project">
  <mat-card class="belowdiv">
    <mat-card-title>Students who worked on this project</mat-card-title>
    <mat-card-content>
      <mat-card *ngFor="let student of students">
        Student Name: {{student.Name}}
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="belowdiv">
    <mat-card-title>Partners who sponsored this project</mat-card-title>
    <mat-card-content>
      <mat-card *ngFor="let partner of partners">
        Partner Name: {{partner.Name}}
      </mat-card>
    </mat-card-content>
  </mat-card>
</app-profile>
