<app-page-header title="Students Page" queryNav="true"></app-page-header>
<div class="twoSideBySide">
  Partners: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Partners" [(ngModel)]="partnerSelected"multiple>
      <mat-option *ngFor="let partner of partners" [value]="partner.name">
        {{ partner.Name }}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>
  Programs: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Programs" [formControl]="programControl" multiple>
       <mat-select-trigger> <!--this trigger make it only show the first value plus a ... for others -->
        {{programControl.value?.length ?
           programControl.value[0].value + programControl.value[0].programName  :
            ''}}
        <span *ngIf="programControl.value?.length > 1">
          (+{{programControl.value.length - 1}} others)
        </span>
      </mat-select-trigger>
      <mat-optgroup *ngFor="let program of programs" [label]="program.Name">
        <!-- value stored should include program name and participation -->
        <!-- TODO:Want this to be the program object, with only the participation wanted -->
        <mat-option *ngFor="let value of program.participation" [value]="value">
          {{ value.viewValue }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field> <br>
  Social Issues: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Social Issues" [(ngModel)]="issueSelected" multiple>
      <mat-option *ngFor="let issue of issues" [value]="issue.name">
        {{ issue.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>
  Semesters: <br>
  <mat-form-field class="querySelector">
    <mat-select placeholder="Semester" [(ngModel)]="semesterSelected" multiple>
      <mat-option *ngFor="let semester of semesters" [value]="semester.name">
        {{ semester.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>
  <mat-form-field class="yearSelector">
    <input matInput type="number" placeholder="Start Year" id="yearStart" value="{{startYear}}">
  </mat-form-field>
  <mat-form-field class="yearSelector">
    <input matInput type="number" placeholder="End Year" id="yearEnd" value = "{{endYear}}">
  </mat-form-field> <br>
  <button mat-raised-button class="riceColors" (click)="submitQuery()">Submit Query</button>
</div>
<div class="twoSideBySide">
  <p>
    Want to view all students?
  </p>
  <a href="{{emptyQuery}}">
    <button mat-raised-button class="riceColors">
      View All Students
    </button>
  </a>
</div>
