<app-profile [entityId]="id" [service]="studentService" [dialogRef]="dialogRef" title="Student">
  <mat-card class="belowdiv">
    <mat-card-title>Partners Interacted With</mat-card-title>
    <mat-card-content>
      <mat-card *ngFor="let partner of partners">
        Partner Name: {{partner.Name}}
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="belowdiv">
    <mat-card-title>Specific Projects They Participated In</mat-card-title>
    <mat-card-content>
      <mat-card *ngFor="let program of programsParticipated">
        <mat-card-title>Program Name: {{program.programName}} </mat-card-title>
        <mat-card-content>
          <mat-card *ngFor="let project of program.projects">
            Project Name: {{project.Name}}
          </mat-card>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="belowdiv">
    <mat-card-title>
      Specific Projects They Applied To
    </mat-card-title>
    <mat-card-content>
      <mat-card *ngFor="let program of programsApplied">
        <mat-card-title>Program Name: {{program.programName}}</mat-card-title>
        <mat-card-content>
          <mat-card *ngFor="let project of program.projects">
            Project Name: {{project.Name}}
          </mat-card>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="belowdiv">
    <mat-card-title>
      Specific Projects They Rejected
    </mat-card-title>
    <mat-card-content>
      <mat-card *ngFor="let program of programsRejected">
        <mat-card-title>Program Name: {{program.programName}}</mat-card-title>
        <mat-card-content>
          <mat-card *ngFor="let project of program.projects">
            Project Name: {{project.Name}}
          </mat-card>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</app-profile>
