<app-page-header title="Student Profile"></app-page-header>
<app-profile entity="{{id}}" [service]="studentService">
  <div class="belowdiv list">
    Partners interacted with: <br>
    <mat-card *ngFor="let partner of partners">
      Partner Name: {{partner.Name}}
    </mat-card>
  </div>

  <div class="belowdiv list">
    <p>
      Specific projects they participated in:
    </p>
    <mat-card *ngFor="let program of programsParticipated">
      Program Name: {{program.programName}} <br>
      <p>
        <mat-card *ngFor="let project of program.projects">
          {{project.Name}}
        </mat-card>
      </p>
    </mat-card>
  </div>

  <div class="belowdiv list">
    <p>
      Specific projects they applied to:
    </p>
    <mat-card *ngFor="let program of programsApplied">
      Program Name: {{program.programName}} <br>
      <p>
        <mat-card *ngFor="let project of program.projects">
          {{project.Name}}
        </mat-card>
      </p>
    </mat-card>
  </div>

  <div class="belowdiv list">
    <p>
      Specific projects they rejected here:
    </p>
    <mat-card *ngFor="let program of programsRejected">
      Program Name: {{program.programName}} <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
          Projects
        </mat-panel-title>
        <mat-panel-description>
          These are projects this students has rejected in this program
        </mat-panel-description>
      </mat-expansion-panel-header>
        <p>
          <mat-card *ngFor="let project of program.projects">
            Project Name: {{project.Name}}
          </mat-card>
        </p>
      </mat-expansion-panel>
    </mat-card>
  </div>
</app-profile>
